<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
    <classes>
      <class name="com.acti.Testcase.BaseTest"/>
      <class name="com.acti.Testcase.LoginPageTest"/>
      <class name="com.acti.Testcase.TestCreateCustomer"/>
      <class name="com.acti.Testcase.TestDeleteCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
